<phpunit colors="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
    <testsuite name="Tests">
        <directory>tests</directory>
        <exclude>tests/lesson*</exclude>
        <exclude>tests/*poker*</exclude>
        <exclude>tests/vending_machine</exclude>
    </testsuite>
    </testsuites>

</phpunit>
