// line-height
$headings-line-height: 1.5;
$line-height-base: 1.65;

// colors
$gray-dark: #546E7A;

// font-family

@import "/var/www/html/vendor/twbs/bootstrap/scss/bootstrap";

body {
  letter-spacing: 0.1em;
  text-align: justify;
  font-family: 游ゴシック体, YuGothic, "Yu Gothic", "メイリオ", Meiryo;;
}
